<footer style="background-color: black; color: white">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <li class="footer-title mb-1"> NULL Store </li>
          <li class="footer-title bullets">
            <a href="/" class="footer-link"> Điện thoại </a>
          </li>
          <li class="footer-title bullets">
            <a href="/sale" class="footer-link"> Tin khuyến mãi </a>
          </li>
          <li class="footer-title bullets">
            <a href="/contact" class="footer-link"> Liên hệ </a>
          </li>
        </div>
        <div class="col col-lg-2">
          <li class="footer-title mb-1"> Danh mục </li>
          <li class="footer-title bullets">
            <a href="/apple" class="footer-link"> Apple </a>
          </li>
          <li class="footer-title bullets">
            <a href="/samsung" class="footer-link"> Samsung </a>
          </li>
          <li class="footer-title bullets">
            <a href="/sony" class="footer-link"> Sony </a>
          </li>
          <li class="footer-title bullets">
            <a href="/oppo" class="footer-link"> Oppo </a>
          </li>
          <li class="footer-title bullets">
            <a href="/xiaomi" class="footer-link"> XiaoMi </a>
          </li>
          <li class="footer-title bullets">
            <a href="/huawei" class="footer-link"> Huawei </a>
          </li>
        </div>
        <div class="col col-lg-4">
          <li class="footer-title mb-1"> Liên hệ </li>
          <li class="footer-title bullets">
            <i class="fas fa-map-marker-alt mr-1" style="color: #d9d9d9;"></i>
            <span> Lầu 11, tòa nhà I - Trường Đại học Khoa học Tự nhiên cơ sở Nguyễn Văn Cừ, P.4, Q.5
              TP.HCM </span>
          </li>
          <li class="footer-title bullets">
            <i class="fas fa-phone fa-rotate-90 mr-1" style="color: #d9d9d9;"></i>
            <span> 0123.456.789 </span>
          </li>
          <li class="footer-title bullets">
            <i class="fas fa-envelope mr-1" style="color: #d9d9d9;"></i>
            <span> teamnull@gmail.com </span>
          </li>
        </div>
      </div>
    </div>

    <div class="card-footer text-center">
      NULL Store © 2018 All Rights Reserved
    </div>
</footer>